body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  background-color: violet;
  margin: 0;
}

div.scrollmenu {
  overflow-y: auto;
  float: left;
  height: 100%;
  width: 20%;
  background-color: aqua;
}

div.main {
  background-color: aquamarine;
}

div.settings_screen {
  float: right;
  width: 80%;
  display: block;
  background-color: salmon;
}

div.server_screen {
  float: right;
  width: 80%;
  display: none;
  background-color: salmon;
}

ul.serverlist {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}
