body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  overflow: hidden;
  height: 100vh;
  background-color: white;
  margin: 0;
}

div.scrollmenu {
  overflow-y: auto;
  float: left;
  height: 100%;
  width: 18%;
  background-color: white;
  padding-right: 2px;
  border-right: 2px solid black;
}

div.main {
  background-color: white;
}

div.settings_screen {
  overflow-y: auto;
  float: right;
  width: 80%;
  display: block;
  background-color: white;
  height: 100vh; /* 100vh is required for scrolling to work :) */
}

div.server_screen {
  overflow-y: auto;
  float: right;
  width: 80%;
  display: none;
  background-color: white;
  height: 100vh;
}

p.smallinfo {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
}

ul.serverlist {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

ul#server_properties {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
}

